h1{
    text-align: center;
    color:darkolivegreen;
    text-decoration: darkgoldenrod dashed underline;
    text-shadow: 4px 5px 8px rgb(134, 211, 134);
}

p{
    width: fit-content;
}
section {
    font-style:italic;
    text-align: center;
    border-style: dashed;
    border-color: green;
}

textarea {
    background-color: rgb(209, 209, 173);
    text-decoration: black;
}

#placeholder {
    color: rgb(114, 110, 18);
}